<div style="margin: 100px;">
    <select  #reserveValue class="custom-select custom-select-lg mb-6">
      <option selected>Select the number of seat</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <div style="margin-top:10px ;">
        <button  type="button" routerLink='/seatInfo' routerLinkActive="active"  (click)="reserveSeat(reserveValue.value)" class="btn btn-primary btn-lg btn-block">Book</button>
    </div>
</div>