<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Ticket Booking</title>
</head>
<body>
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Tickety Booking</span>
  </nav>
   
  <h1 style="border: 2px solid blue;">Welcome to My Website</h1>
  <h3 style="margin: 20px; ">You can Book the ticket :
  <button type="button" routerLink='/ticketBooking' routerLinkActive="active" (click)="abc()" class="btn btn-primary">To Book</button>
  </h3>
  
</body>
</html>
<router-outlet></router-outlet>